.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 315px;
  width: 90px;
  height: 45px;
  box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
}

.prev,
.next {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background-color: antiquewhite;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.next::after,
.prev::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.next::after {
  background-image: url("/images/icon-next.svg");
}
.prev::after {
  background-image: url("/images/icon-prev.svg");
}
